@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    @font-face {
        font-family: 'Satoshi';
        src: url('fonts/Satoshi-Variable.woff2') format('woff2'),
        url('fonts/Satoshi-Variable.woff') format('woff'),
        url('fonts/Satoshi-Variable.ttf') format('truetype');
        font-weight: 300 900;
        font-display: swap;
        font-style: normal;
    }

    /* @font-face {
        font-family: 'Satoshi';
        font-weight: 300;
        src: url('/fonts/Satoshi-Light.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: 'Satoshi';
        font-weight: 400;
        src: url('fonts/Satoshi-Regular.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: 'Satoshi';
        font-weight: 500;
        src: url('fonts/Satoshi-Medium.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: 'Satoshi';
        font-weight: 700;
        src: url('fonts/Satoshi-Bold.ttf');
        font-display: swap;
    }
    @font-face {
        font-family: 'Satoshi';
        font-weight: 900;
        src: url('fonts/Satoshi-Black.ttf');
        font-display: swap;
    } */

    .label{
        @apply block text-xl font-semibold leading-6 text-secondary-950
    }
    .form-input-fields{
        @apply block w-full rounded-2xl border-secondary-300 hover:border-secondary-900 focus:border-secondary-900 bg-transparent py-4 px-6 text-secondary-950 transition-colors ease-in-out duration-200 focus:outline-none focus:ring-0
    }
  
}