<div class="absolute top-0 inset-x-0">
    <div class="w-full h-screen absolute top-0 inset-0 bg-gradient-to-b from-primary-50 to-white dark:from-primary-950/50 dark:via-secondary-900 dark:to-secondary-950"></div>
    <div class="max-w-7xl mx-auto relative">
        <nav class="flex items-center justify-between gap-5 py-5">
            <div class="">
                <a href="" class=" inline-flex items-center gap-2">
                    <svg class="w-10 h-10 fill-current dark:text-secondary-100 text-secondary-950" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="fill-current"
                        viewBox="0 0 256 256">
                        <path
                            d="M173.19,155c-9.92,17.16-26.39,27-45.19,27s-35.27-9.84-45.19-27a6,6,0,0,1,10.38-6c7.84,13.54,20.2,21,34.81,21s27-7.46,34.81-21a6,6,0,1,1,10.38,6ZM230,128A102,102,0,1,1,128,26,102.12,102.12,0,0,1,230,128Zm-12,0a90,90,0,1,0-90,90A90.1,90.1,0,0,0,218,128ZM92,118a10,10,0,1,0-10-10A10,10,0,0,0,92,118Zm72-20a10,10,0,1,0,10,10A10,10,0,0,0,164,98Z">
                        </path>
                    </svg>
                    <span class="dark:text-secondary-100 text-secondary-950 text-3xl">Coder-X</span>
                </a>
            </div>
            <div class="">
                <div class="flex items-center justify-center gap-12">
                    <a href=""
                        class="text-lg font-semibold text-primary-500 hover:text-secondary-500 transition-colors ease-in-out duration-200">
                        Home
                    </a>
                    <a href=""
                        class="text-lg font-semibold text-secondary-950 dark:text-secondary-100 hover:text-secondary-400 transition-colors ease-in-out duration-200">
                        About
                    </a>
                    <a href=""
                        class="text-lg font-semibold text-secondary-950 dark:text-secondary-100 hover:text-secondary-400 transition-colors ease-in-out duration-200">
                        Portfolio
                    </a>
                    <a href=""
                        class="text-lg font-semibold text-secondary-950 dark:text-secondary-100 hover:text-secondary-400 transition-colors ease-in-out duration-200">
                        Contact
                    </a>
                </div>
            </div>
            <div class="flex items-center gap-5">
                <button @click="darkMode = !darkMode">
                Toggle Theme
                </button>
                <a href="#"
                    class="flex items-center justify-center gap-2 text-lg font-medium text-secondary-950 dark:text-secondary-100 hover:text-secondary-500">
                    <svg class="w-6 h-6 fill-current mt-0.5" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        fill="fill-current" viewBox="0 0 256 256">
                        <path
                            d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z">
                        </path>
                    </svg>
                    <span>subtain@xoder-x.com</span>
                </a>
            </div>
        </nav>
    </div>
</div>
